.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #ddddff;

  --primary-color: #019f01;
  --secondary-color: #00ff00;
  --inverted-primary-color: #00287e;
  --inverted-secondary-color: #0066ff;
}
